$overlay: rgba(0,0,0,0.5);
$index: 1000;

.w-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  @include anim();
  z-index: $index;
  &--open {
    opacity: 1;
    pointer-events: all;
    @include anim();
    .w-modal {
      &--content {
        transform: scale(1);
        @include anim();
      }
      &--wrapper {
        .modal {
          pointer-events: all;
          opacity: 1;
        }
      }
    }
  }
  &--wrapper {
    content: '';
    position: absolute;
    z-index:  $index - 1;
    padding: 5% 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    @include anim();
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  &--content {
    position: relative;
    transform: scale(0);

    @include anim();
    > button {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      z-index: $index + 2;
      svg {
        pointer-events: none;
      }
    }
  }
  &--youtube {
    position: relative;
    max-width: 90rem;
    &:after {
      content: '';
      display: block;
      padding-bottom: 56.20%;
    }
    button {
      background: transparent;
      transform: translateY(-100%);
      top: -1.5rem;
      svg {
        color: #fff;
      }
    }
    iframe {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
}


.modal {
  opacity: 0;
  pointer-events: none;
  @include anim();
  &--item {
    position: relative;
    background: #fff;
    max-width: 75rem;
    padding: 4rem;
  }
  &__auth {

  }
}
