// Font
$mainFont                : 'ProximaNova', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 10px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$xwideWidth              : 1350px;
$wideWidth               : 1160px;
$desktopWidth            : 920px;
$tabletWidth             : 700px;
$phoneWidth              : 480px;

// Main color
$dark                    : #171D32;
$gold                    : #CBBCA9;

$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
