---
layout: default
---

<main class="helpers">
    <h1>Helpers</h1>
    <div class="helpers-row">
        <div class="helpers-item">
            <div class="helpers-item--value">
                <p><span class="notice">Текстовое модальное окно</span></p>
            </div>
            <div class="helpers-item--message">
                <p>Вызывается с помощью button, который имеет <span class="notice">data-button="open"</span> и ссылку в качестве <span class="notice">data-modal=".modal__name"</span></p>
            </div>
        </div>
        <div class="helpers-item">
            <div class="helpers-item--value">
                <p><span class="notice">Модальное окно с YouTube плеером</span></p>
            </div>
            <div class="helpers-item--message">
                <p>Вызывается с помощью button, который имеет <span class="notice">data-button="open"</span> и ссылку в качестве <span class="notice">data-youtube="{videID}"</span></p>
            </div>
        </div>
        <div class="helpers-item">
            <button data-button="open" data-youtube="BmxD74C3rCs">Youtube modal</button>
            <button data-button="open" data-modal=".modal__auth">Text modal</button>
        </div>
    </div>
</main>


