<section class="modal">
    <div class="modal--item modal__auth">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
        </p>
    </div>

    <div class="modal--item modal__el">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque minus officia quidem reiciendis?
            Accusamus alias aliquam doloribus error facere minima necessitatibus, nemo, perspiciatis quia quod sapiente
            similique soluta velit!
        </p>
    </div>
</section>
