<section class="modals">
    <div class="modal--item modal__auth">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores at commodi dolorum earum
        enim incidunt itaque laudantium maiores, molestiae, necessitatibus nemo nobis pariatur perferendis quam
        recusandae, soluta suscipit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores at commodi dolorum earum
        enim incidunt itaque laudantium maiores, molestiae, necessitatibus nemo nobis pariatur perferendis quam
        recusandae, soluta suscipit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores at commodi dolorum earum
        enim incidunt itaque laudantium maiores, molestiae, necessitatibus nemo nobis pariatur perferendis quam
        recusandae, soluta suscipit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores at commodi dolorum earum
        enim incidunt itaque laudantium maiores, molestiae, necessitatibus nemo nobis pariatur perferendis quam
        recusandae, soluta suscipit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores at commodi dolorum earum
        enim incidunt itaque laudantium maiores, molestiae, necessitatibus nemo nobis pariatur perferendis quam
        recusandae, soluta suscipit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores at commodi dolorum earum
        enim incidunt itaque laudantium maiores, molestiae, necessitatibus nemo nobis pariatur perferendis quam
        recusandae, soluta suscipit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores at commodi dolorum earum
        enim incidunt itaque laudantium maiores, molestiae, necessitatibus nemo nobis pariatur perferendis quam
        recusandae, soluta suscipit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores at commodi dolorum earum
        enim incidunt itaque laudantium maiores, molestiae, necessitatibus nemo nobis pariatur perferendis quam
        recusandae, soluta suscipit.
    </div>

</section>

